/* @import url(https://fonts.google.com/specimen/Red+Hat+Text); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Arial, sans-serif; 
   background-color: hsl(13, 31%, 94%);
}
.dessert{
    /* margin-left: 50px; */
    position: absolute;
    left: 35px;
    /* margin-top: 10px; */
    font-size: 25px;
    margin-bottom: 10px;
}
.maindiv{
    /* height: 100vh; */
    display: flex;
    background-color: hsl(13, 31%, 94%);
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

}
    

  #container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    margin-left: 25px;
    padding: 20px;
  }
  #orderMessage{
    background-color: white;
    height: max-content;
    width: 300px;
    /* max-width: 15em; */
    margin: 30px 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    /* width: 200px */
    /* position: sticky;
    bottom: 20px;
    z-index: 1; */
  }

    .cart {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
      } /* border: 1px solid black; */
      .cart:hover {
        transform: translateY(-5px);
      }
      
h4{
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.imageBox{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
  
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
.cartBox{
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    /* position: absolute; */
    transform: translateY(50%);
    /* bottom: 0; */
    border: 1px solid black;
    display: flex; 
    cursor: pointer;
}
  
.trybox{
    position: absolute;
    bottom: 0;
}
.add{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color:  hsl(14, 86%, 42%);
    position: absolute;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.icon{
    color: #ffffff;
    font-size: 20px;
}

.trybox:hover > .add{
    display: flex;
}
.carticon{
    width: 21px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
.addList{
    margin-top: 10px;
    /* margin-left: 20px; */
    font-weight: bold;
    font-size: 10px;
    /* border: 1px solid black; */
}
.firstName{
    font-weight: 200;
    font-size: 10px;
}
.secondName{
    font-weight: bold;
}
.price{
    color:hsl(14, 86%, 42%) ;
    font-size: 13px;
    font-weight: 800;
}
.nameList{
    padding: 10px;
}
.cartier{
    color: hsl(14, 86%, 42%);
    font-weight: bold;
    font-size: 18px;
}
#orderMessage li{
    list-style-type: none;
    /* display: flex; */
}
.pro{
    font-size: 12px;
    text-wrap: nowrap;
    margin-top: 5px;
    font-weight: bold;
}
.pricetag{
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    
}
.quantity{
    color: hsl(14, 86%, 42%);
}



.totalOrderContainer{
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    margin-top: 5px;
}
.totalOrderContainer p {
    margin: 0;
    font-weight: bold;
}
.totalOrderContainer span.orders {
    font-size: 1.2em;
    font-weight: bold;
}
#orderMessage h3 {
    background-color: hsl(14, 86%, 42%);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-wrap: nowrap;
    margin-top: 5px;
    cursor: pointer;
}
/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-content {
    background-color: hsl(13, 31%, 94%);
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.delete-btn{
    color: #aaa;
    font-size: 10px;
    font-weight: bold;
    border: none;
}
.delete-btn:hover,
.delete-btn:focus{
    color: black;
    cursor: pointer; 
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
#startNewOrder{
    cursor: pointer;
    background-color: hsl(14, 86%, 42%);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
}
.containerb{
    height: 50px;
    border: 5px solid black;
    background-color: hsl(14, 84%, 39%);
    border-radius: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
}
.anim{
    color: white;
     font-weight: bold;
    text-transform: capitalize;
    font-size: large; 
    position: absolute; 
    left: -400px; 
   right: 400px; 
      animation-name: mint;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    z-index: 1;
}

  @keyframes mint{
    0%{
        transform: translateX(0%); 
    }
    100%{
        transform: translateX(150%);
        right: 400px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .imageBox {
      height: 150px;
      width: 100;
     
    }
    #container{
        padding: 10px;
        margin-left: 0;
    }
  
    .dessert {
      font-size: 20px;
      margin-left: 10px;
    }
  
    .cartBox {
      width: auto;
      /* padding: 5px; */
      width: 100%;
    }
    .cart{
        /* width: 80%; */
        align-items: center;
        width: 100%;
        height: 250px;
        gap: 10px;
        
    }
    .nameList{
        margin-top: 10px;
        gap: 20px;
        /* border: 1px solid red; */
        
    }
    .addList {
      font-size: 10px;
    }
    .maindiv{
        display: flex;
        flex-wrap: wrap;
        /* padding: 10px; */
        
    }
  }